/* base styles */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  position: relative;
  margin: 0;
  min-height: 100vh;
}

@supports (-webkit-touch-callout: none) {
  body {
    min-height: -webkit-fill-available;
  }
}

body *:focus-visible {
  /* High contrast mode ignores box-shadow. Set outline to transparent to enable focus indication to high contras mode users. */
  outline-color: transparent;
  box-shadow: 0 0 3px 2px white;
}

body > main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  flex-grow: 1;
}

main .content-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}

body > span {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
}

zero-md {
  margin-top: 50px;
  padding: 15px;
  background-color: white;
  max-height: 80vh;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
}

h1,
a,
footer p {
  font-family: monospace;
}

main > p,
main > h1 {
  text-align: center;
}

main > p {
  font-family: Arial, Helvetica, sans-serif;
}

main > span > a {
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: white;
  color: white;
  transition: all .3s ease-in-out;
  padding: 10px;
  padding-right: 0;
}

main > span > a:hover {
  transform: translate(5px);
}

footer {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid white;
  padding: 10px 20px;
  justify-content: center;
}

footer p {
  margin: 0;
}

footer p a {
  color: white;
  text-decoration-color: white;
}

@media only screen and (min-width: 1024px){
  body .content-wrapper {
    flex-direction: row-reverse;
  }

  zero-md {
    margin-top: 0;
    margin-left: 50px;
    flex-grow: 0;
  }
}
