.flip-card {
  background-color: transparent;
  width: 300px ;
  height: 375px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  flex-shrink: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  overflow: auto;
}

.flip-card-front {
  background-color: darkgrey;
  color: white;
  overflow: hidden;
}

.flip-card-inner img {
  transition: transform .5s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .flip-card-inner:hover img {
    transform: scale(1.1);
  }
}

.flip-card-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.flip-card-back p {
  padding: 20px;
  text-align: left;
  margin: 0;
}

.flip-card-back p:focus-visible {
  /* High contrast mode ignores box-shadow. Set outline to transparent to enable focus indication to high contras mode users. */
  outline-color: transparent;
  box-shadow: inset 0 0 3px 2px white;
}